@import url(https://fonts.googleapis.com/css?family=Roboto:400,900italic,900,700italic,700,500italic,500,400italic,300italic,300,100italic,100);


*{
    box-sizing : border-box;
    margin: 0;
    padding: 0;
    cursor:pointer;
}
body{
    padding:0;
    width: 100vw;
    height: 100vh;
    font-family: Roboto;
}
.loading-page{
    background: #0d0d0d;
    display: flex;
    height:100vh;
    justify-content: center;
    align-items: center;
}
.loading-page .counter {
    text-align: center;
    position: relative;
    width:200px;
}
.loading-page .counter p{
    font-size:40px;
    font-weight: 100;
    color:#f60d54;
}
.loading-page .counter h1{
    color:white;
    font-size:50px;
    margin-top:-10px;
}

.loading-page .counter hr{
    background: #f60d54;
    border:none;
    height:1px;
}
.loading-page .