.menu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80vh;
    list-style: none;
    font-weight: bold;
    
}
.menu li{
    margin-bottom: 40px; 
    width: 100%;
    position: relative;
}
.menu li .menu_title {
    cursor: pointer;
    transition: 0.1s;
    position: absolute;
    padding:10px 5px 0 5px;
  
}
.menu li .menu_title:hover{
    border-bottom: 3px solid white;
    color: white;
}
.page{
    position: absolute;
    display:none ;
    top: 0;
    left: 0;
    text-align: center
}
.page:nth-child(1){
    display: block;
 
}
.col-10{
    overflow: hidden;
}
.color-border{
    border-bottom: 3px solid white;
    color: white;
}